body {
    background-image: url('sea.jpg');
    font-family: sans-serif;
}

#board {
    margin: auto;
    background-color: white;
}

span {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    border: 1px solid white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.revealed {
    background-color: #eee;
    padding-top: 12px;
}
.marked {
    background-color: white;
    padding-top: 12px;
}

#board p {
    margin: 0;
    padding: 5px;
}
